.home {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

}


.vid {
  position: absolute;
  width:100vw;
  height:80vh;
  object-fit: cover;
}
  
 
  .homeContent {
    width: 100vw;
    height: max-content;
    padding: 8rem 1.5rem 3rem;
    display: flex;
    row-gap: 3rem;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: auto;
    color: white;
    z-index: 100;
  }

  .smallText {
    font-size: 3.5rem;
    text-transform: uppercase;
  }

  .homeTitle {
    position: relative;
    font-size: 3.5rem;
  }

.images {
  display:block;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
  margin-top: 27%;
}

.images .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
  position: relative;
}

.images .pics img {
  width: 100%;
  height: auto;
  display: block;
}

.images .pics:hover {
  filter: grayscale(50%);
  transition-duration: 0.2s;
  cursor: pointer;
}

.images .pics .description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.478);
  color: white;
  padding: 10px;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  max-height: 30vh;
  width: 25vw;

}


.images .pics:hover .description {
  opacity: 1;
  max-width: 25vw;
  overflow-x: hidden;
  scrollbar-width: none;
}
.description
{
  font-size:2rem;
}
@media (max-width: 991px) {
  .images {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    margin-top:88%;
  }

}
@media (max-width:790px) {
  .images {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin-top:70%;
  }
}

@media (max-width:680px) {
  .images {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin-top:30%;
  }
}
@media (max-width:600px) {
  .images {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin-top:35%;
  }
}
@media (max-width:500px) {
  .images {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin-top:40%;
  }
}
@media (max-width:450px) {
  .images {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin-top:50%;
  }
}
@media (max-width:431px) {
  .images {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin-top:55%;
  }
}

@media (max-width:380px) {
  .images {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin-top:82%;
  }
}
@media (max-width:320px) {
  .images {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin-top:65%;
  }
}
@media (max-width:300px) {
  .images {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin-top:70%;
  }
}
@media (max-width:290px) {
  .images {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin-top:80%;
  }
}
@media (max-width:220px) {
  .images {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin-top:90%;
  }
}